[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
django = "*"
mysqlclient = "*"
pillow = "*"
django-jazzmin = "*"
django-stubs = "*"
pdfkit = "*"

[dev-packages]

[requires]
python_version = "3.12"
