.login-page {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .login-box {
    position: relative;
    z-index: 2; /* Make sure the form is above the background image */
    /* Slightly transparent background for the form */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); /* Add a shadow to make it stand out */
    background: none; /* Remove background from login box */
  box-shadow: none; /* Optionally remove the shadow */
  }
  .card {
    background: rgba(0, 0, 0, 0.7); /* Add a semi-transparent background to the form */
    border-radius: 10px; /* Optional: Rounded corners */
  }

  /* Adding the logo behind the login-box */
  .login-page::before {
    content: "";
    /* background-image: url('../../static/dist/img/pit_logo.png'); Replace with your logo path */
    background-size: contain; /* Make sure the logo fits nicely */
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the logo behind the form */
    width: 800px; /* Adjust the width to make the logo large enough */
    height: 800px; /* Adjust the height to match the logo size */
    opacity: 0.1; /* Adjust opacity to make the logo subtle behind the form */
    z-index: 1; /* Ensure the logo is behind the form */
  }