{% extends "admin-base.html" %}
{% load static %}

{% block extra_css %} 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
<!-- Include Pickadate CSS from CDN -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.6.2/compressed/themes/default.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.6.2/compressed/themes/default.date.css">
<style>
  .pagination-container {
        display: flex;
        justify-content: flex-end;
        margin-top: 20px;
        padding-right: 20px;
    }
    
    .pagination {
        margin-bottom: 0;
        font-size: 0.9rem;
    }
    
    .page-item.active .page-link {
        background-color: #007bff;
        border-color: #007bff;
        color: white;
    }
    
    .page-item .page-link {
        color: #007bff;
    }
    
    .page-link:hover {
        background-color: #f1f1f1;
    }
    
    .page-item.disabled .page-link {
        color: #6c757d;
    }
    .custom-modal .modal-dialog {
      overflow: hidden;
  }

  .custom-modal .modal-content {
      overflow: hidden;
  }
  .custom-modal .modal-body {
      overflow-y: auto;
      max-height: calc(100vh - 200px); /* Adjust this value as needed */
  }
  .error-border.form-control {
  border-color: red !important;
  border-width: 1px !important; /* Adjust as needed */
}
.picker__holder {
  overflow-y: hidden !important; /* Hide vertical scrollbar */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
}

.picker__frame {
  overflow: hidden !important; /* Remove scrollbars inside the frame */
  width: 100% !important;      /* Ensure full width without triggering overflow */
}

.picker__header select {
  background-color: #ffffff !important; /* Set background color to white */
  border: none !important;              /* Remove the border */
  color: #000000 !important;            /* Set the text color to black for contrast */
  padding: 5px;                         /* Add some padding for spacing */
  border-radius: 4px;                   /* Slight rounding of corners for a modern look */
}

/* Style adjustments for the picker container */
.picker__holder {
  display: block !important;  /* Ensure the picker is properly displayed */
  visibility: visible !important;
}

/* Customize navigation buttons (arrows) */
.picker__nav--prev,
.picker__nav--next {
  background-color: transparent;        /* Remove any background color */
  color: #000000 !important;            /* Set the arrow color to black */
}

/* Additional style for a clean look */
.picker__day--today {
  background-color: #e0e0e0;            /* Set a light background for today */
  color: #000;                          /* Black text color for today */
}
</style>

{% endblock %}


{% block extra_js %}
<!-- jQuery -->
<script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
<!-- Bootstrap -->
<script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- overlayScrollbars -->
<script src="{% static 'plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js' %}"></script>
<!-- AdminLTE App -->
<script src="{% static 'dist/js/adminlte.js' %}"></script>
<!-- PAGE PLUGINS -->
<!-- jQuery Mapael -->
<script src="{% static 'plugins/jquery-mousewheel/jquery.mousewheel.js' %}"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="dist/js/pages/dashboard2.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

<!-- Include Pickadate JS from CDN -->

{% endblock %}


  
{% block content %}

<div class="wrapper">

    <!-- Preloader -->
    <div class="preloader flex-column justify-content-center align-items-center">
      <img class="animation__wobble" src="{% static 'dist/img/pit_logo.png' %}" alt="AdminLTELogo" height="60" width="60">
    </div>
  

  
    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
      <!-- Brand Logo -->
      <a href="index3.html" class="brand-link">
        <img src="{% static 'dist/img/pit_logo.png' %}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">IT CHAIRMAN</span>
      </a>
  
      <!-- Sidebar -->
      <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
          <div class="image">
              {% if request.user.profile_picture %}
                  <img src="{{ request.user.profile_picture.url }}" class="img-circle elevation-2" alt="{{ request.user.username }}'s profile picture">
              {% else %}
                  <img src="{% static 'images/users.jpg' %}" class="img-circle elevation-2" alt="Default profile picture">
              {% endif %}
          </div>
          <div class="info">
              <a href="#" class="d-block">{{ request.user.username }}</a>
          </div>
      </div>
      
      
      
      
  
      
  
        <!-- Sidebar Menu -->
        <nav class="mt-2">
          <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <li class="nav-header">Main Menu</li>
            <li class="nav-item">
              <a href="{% url 'admin-dashboard' %}" class="nav-link">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>
                  Dashboard
                </p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'admin-users' %}" class="nav-link">
                <i class="nav-icon fas fa-users"></i>
                <p>
                  Users
                </p>
              </a>
            </li>
            <li class="nav-header">Items</li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="nav-icon fas fa-box"></i>
                <p>
                  Manage Items
                  <i class="right fas fa-angle-left"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a href="{% url 'admin-add-item' %}" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Add Item</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'admin-item-record' %}" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Item Records</p>
                  </a>
                </li>
  
              </ul>
            </li>
            <li class="nav-item "> <!--pang hover menu-open-->
              <a href="{% url 'admin-borrowers' %}" class="nav-link">
                <i class="nav-icon fas fa-plus"></i>
                <p>
                  Add Borrow Item
                </p>
              </a>
            </li>
            <li class="nav-item ">
              <a href="{% url 'admin-borrow-record' %}" class="nav-link">
                <i class="nav-icon fas fa-clipboard"></i>
                <p>
                  Borrowed Records
                </p>
              </a>
            </li>
         
  
            <li class="nav-header">Borrowers Reservation</li>
            <li class="nav-item">
              <a href="{% url 'admin-student-reservation' %}" class="nav-link">
                <i class="nav-icon fas fa-list"></i>
                <p>
                  Reservation List
                </p>
              </a>
            </li>
  
  
            <li class="nav-header">Accounts</li>
            <li class="nav-item menu-open">
              <a href="#" class="nav-link">
                <i class="nav-icon fas fa-users-gear"></i>
                <p>
                  Manage accounts
                  <i class="right fas fa-angle-left"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a href="{% url 'admin-change-profile' %}" class="nav-link active">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Change Profile</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'admin-change-password' %}" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Change Password</p>
                  </a>
                </li>
              </ul>
              <li class="nav-item">
                <a href="{% url 'admin-logout' %}" class="nav-link">
                  <i class="nav-icon fa-solid fa-right-from-bracket"></i>
                  <p>
                    Logout
                  </p>
                </a>
              </li>
  
            </li>
          </ul>
        </nav>
        <!-- /.sidebar-menu -->
      </div>
      <!-- /.sidebar -->
    </aside>
  
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
   
      <!-- /.content-header -->
  
      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          
          <!-- /.row -->
  
          <div class="row">
            <div class="container-fluid">

                <div class="card mt-5" style="border-top: 4px solid #593bdb; box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;">
                    <div class="card-header">
                        <h4 class="card-title" style="font-size: 30px; font-weight: 800">Change Profile</h4>
                    </div>
                    <div class="card-body">
                        <div class="basic-form">
                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="form-group row mb-4">
                                    <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3" style="font-size: 15px">Change Image</label>
                                    <div class="col-sm-12 col-md-7">
                                        <!-- Display user's profile picture or default image if none exists -->
                                        <img id="profileImage" src="{% if profile_picture %}{{ profile_picture.url }}{% else %}{{ default_image_url }}{% endif %}" alt="Profile Image" class="img-fluid rounded-circle" style="width: 60px; height: 60px; object-fit: cover; box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;"><br>
                                        <input type="file" id="fileInput" name="profilePicture" class="mt-3"  padding: 0.5rem; border-radius: 0.25rem;">
                                    </div>
                                </div>
                                <div class="form-group row mb-4">
                                    <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3" style="font-size: 15px">Username</label>
                                    <div class="col-sm-12 col-md-7">
                                        <input type="text" name="username" class="form-control"  value="{{ username }}" required>
                                    </div>
                                </div>
            
                                <div class="form-group row mb-4">
                                    <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3"></label>
                                    <div class="col-sm-12 col-md-7">
                                        <button type="submit" class="btn btn-primary" id="toastr-success-top-right">Save</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
        




                


      




           
              
          </div>
          </div>
          <!-- /.row -->
  
          
          <!-- /.row -->
        </div><!--/. container-fluid -->
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
  
    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
      <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
  
    <!-- Main Footer -->
    <footer class="main-footer">
      <strong>Borrowing System By: </strong>
      Run Time Terror.
      
    </footer>
  </div>


  <script>
    document.getElementById('fileInput').addEventListener('change', function(event) {
        var reader = new FileReader();
        var file = event.target.files[0];

        if (file) {
            reader.onload = function(e) {
                document.getElementById('profileImage').src = e.target.result;
            };
            reader.readAsDataURL(file);
        }
    });
  </script>

{% endblock content %}
  


  

