{% extends "base.html" %}
{% load static %}

{% block extra_css %} 
    <link href="{% static 'vendor/pg-calendar/css/pignose.calendar.min.css'%}" rel="stylesheet">
    <link href="{% static 'vendor/chartist/css/chartist.min.css'%}" rel="stylesheet">
    <link href="{% static 'css/style.css'%}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <style>
        .activee {
            background: #6b51df;
        }
    </style>
{% endblock %}


{% block extra_js %} 
    <script src="{% static 'vendor/global/global.min.js' %}"></script>
    <script src="{% static 'js/quixnav-init.js' %}"></script>
    <script src="{% static 'js/custom.min.js' %}"></script>
    <script src="{% static 'vendor/moment/moment.min.js'%}"></script>
    <script src="{% static 'js/dashboard/dashboard-2.js'%}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
{% endblock %}



{% block content %}
    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->


    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <a href="index.html" class="brand-logo">
                <img class="logo-abbr" src="{% static 'images/pit_logo.png'%}" alt="">
                <img class="brand-title" src="{% static 'images/faculty.png'%}" alt="">
            </a>

            <div class="nav-control">
                <div class="hamburger">
                    <span class="line"></span><span class="line"></span><span class="line"></span>
                </div>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->

        <!--**********************************
            Header start
        ***********************************-->
        <div class="header">
            <div class="header-content">
                <nav class="navbar navbar-expand">
                    <div class="collapse navbar-collapse justify-content-between">
                        <div class="header-left">
                           
                        </div>

                        <ul class="navbar-nav header-right">
                            
                            <li class="nav-item dropdown header-profile">
                                <a class="nav-link" href="#" role="button" data-toggle="dropdown">
                                    <a class="nav-link" href="#" role="button" data-toggle="dropdown">
                                        {% if request.user.profile_picture %}
                                            <img src="{{ request.user.profile_picture.url }}" alt="{{ request.user.username }}'s profile picture">
                                        {% else %}
                                        <img src="{% static 'images/users.jpg' %}" alt="Default profile picture">
                                        {% endif %}
                                    </a>
                                    <span class="text-dark">{{ request.user.username }}</span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a href="./app-profile.html" class="dropdown-item">
                                        <i class="icon-user"></i>
                                        <span class="ml-2">Profile </span>
                                    </a>
                                    <a href="./email-inbox.html" class="dropdown-item">
                                        <i class="icon-envelope-open"></i>
                                        <span class="ml-2">Inbox </span>
                                    </a>
                                    <a href="{% url 'logout'%}" class="dropdown-item">
                                        <i class="icon-key"></i>
                                        <span class="ml-2">Logout </span>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
        <div class="quixnav">
            <div class="quixnav-scroll">
                <ul class="metismenu" id="menu">
                    <li class="nav-label first">Main Menu</li>
                    <!-- <li><a href="index.html"><i class="icon icon-single-04"></i><span class="nav-text">Dashboard</span></a>
                    </li> -->
                    <li><a href="{% url 'dashboard'%}" aria-expanded="false">
                        <img src="{% static 'images/dashboard.png'%}" width="30" height="30" alt="">
                        <span class="nav-text">Dashboard</span></a>
                       
                    </li>

                    <li class="nav-label">ITEMS</li>
                    <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">
                        <img src="{% static 'images/item.png'%}" width="30" height="30" alt=""> 
                        <span class="nav-text" >Manage Items</span></a>
                        <ul aria-expanded="false">
                            <li><a href="{%url 'add-item'%}" >Add Item</a></li>
                            <li><a href="{% url 'item-record'%}">Item Records</a></li>
                        </ul>
                    </li>
                    <li><a href="{% url 'borrowers'%}" aria-expanded="false">
                        <img src="{% static 'images/add-item.png'%}" width="30" height="30" alt="">
                        <span class="nav-text">Add Borrow Item</span></a>
                    </li>
                    <li><a href="{% url 'borrow-record'%}" aria-expanded="false">
                        <img src="{% static 'images/search.png'%}" width="30" height="30" alt="">
                        <span class="nav-text">Borrow Record</span></a>
                    </li>
                
                    <li class="nav-label">Borrower's Reservation</li>
                    <li><a  href="{% url 'student-reservation' %}" aria-expanded="false">
                        <img src="{% static 'images/reservation.png'%}" width="30" height="30" alt="">
                        <span class="nav-text">Reservation List</span></a>
                    </li>

                    <li class="nav-label">ACCOUNTS</li>
                    <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">
                        <img src="{% static 'images/userr.png'%}" width="30" height="30" alt="">
                        <span class="nav-text">User</span></a>
                        <ul aria-expanded="false">
                            <li><a href="{% url 'change-profile' %}" style="color: white;">Change Profile</a></li>
                            <li><a href="{% url 'change-password' %}">Change Password</a></li>
                        </ul>
                    </li>
                    <li><a href="{% url 'logout' %}" aria-expanded="false">
                        <img src="{% static 'images/logout.png'%}" width="30" height="30" alt="">
                        <span class="nav-text">Logout</span></a>
                    </li>
                </ul>
            </div>
        </div>
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
           <!-- Dynamic messages start -->
           <div id="django-messages" style="display:none;">
            {% for message in messages %}
                <div class="message" data-type="{{ message.tags }}" data-content="{{ message|escapejs }}"></div>
            {% endfor %}
        </div>
        <!-- Dynamic messages end -->
        <div class="container-fluid">
            <div class="card" style="border-top: 4px solid #593bdb; box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;">
                <div class="card-header">
                    <h4 class="card-title text-primary" style="font-size: 30px;">Change Profile</h4>
                </div>
                <div class="card-body">
                    <div class="basic-form">
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <!-- Change Image Section -->
                            <div class="form-group row mb-4">
                                <label class="col-form-label text-md-right col-12 col-md-3 text-dark" style="font-size: 15px">Change Image</label>
                                <div class="col-12 col-md-7">
                                    <!-- Display user's profile picture or default image if none exists -->
                                    <img id="profileImage" src="{% if profile_picture %}{{ profile_picture.url }}{% else %}{{ default_image_url }}{% endif %}" alt="Profile Image" class="img-fluid rounded-circle" style="width: 60px; height: 60px; object-fit: cover; box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;"><br>
                                    <input type="file" id="fileInput" name="profilePicture" class="mt-3" style="border: 1px solid #bebebe; padding: 0.5rem; border-radius: 0.25rem;">
                                </div>
                            </div>
        
                            <!-- Username Section -->
                            <div class="form-group row mb-4">
                                <label class="col-form-label text-md-right col-12 col-md-3 text-dark" style="font-size: 15px">Username</label>
                                <div class="col-12 col-md-7">
                                    <input type="text" name="username" class="form-control" style="border: 1px solid #bebebe;" value="{{ username }}" required>
                                </div>
                            </div>
        
                            <!-- Save Button Section -->
                            <div class="form-group row mb-4">
                                <div class="col-12 col-md-7 offset-md-3">
                                    <button type="submit" class="btn btn-primary" id="toastr-success-top-right">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
    
    
    
    
    
    
        
        
        </div>
        <!--**********************************
            Content body end
        ***********************************-->


        <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer">
            <div class="copyright">
                <p>Copyright © Designed &amp; Developed by <a href="#" target="_blank">Quixkit</a> 2019</p>
                <p>Distributed by <a href="https://themewagon.com/" target="_blank">Themewagon</a></p>
            </div>
        </div>
    </div>


    <!-- JavaScript to handle file input and image preview -->
<script>
    document.getElementById('fileInput').addEventListener('change', function(event) {
        var reader = new FileReader();
        var file = event.target.files[0];

        if (file) {
            reader.onload = function(e) {
                document.getElementById('profileImage').src = e.target.result;
            };
            reader.readAsDataURL(file);
        }
    });



    //toaster message
    document.addEventListener("DOMContentLoaded", function() {
        // Configure Toastr options
        toastr.options = {
            "closeButton": true,
            "progressBar": true,
            "timeOut": "5000",
            "positionClass": "toast-bottom-right"
        };
    
        // Loop through the hidden messages and display them
        document.querySelectorAll('#django-messages .message').forEach(function(el) {
            console.log(el);  // Add this for debugging
            var messageType = el.getAttribute('data-type');
            var messageContent = el.getAttribute('data-content');
        
    
            // Display Toastr notification based on the message type
            if (messageType === 'success') {
                toastr.success(messageContent);
            } else if (messageType === 'error') {
                toastr.error(messageContent);
            } else if (messageType === 'warning') {
                toastr.warning(messageContent);
            } else if (messageType === 'info') {
                toastr.info(messageContent);
            }
        });
    });
</script>

{% endblock content %}