{% extends "base.html" %}
{% load static %}

{% block extra_css %}
 <link rel="stylesheet" href="{% static 'css/login.css'%}">
 <style>
    .container {
      margin-top: 250px;
    }
    .row {
      margin-top: 20px;
      margin: 10px 10px;
    }
    .button {
      text-align: center;
    }

    .row.button a {
      display: inline-block;
      padding: 10px 20px;
      font-size: 16px;
      text-decoration: none;
      color: #ffffff;
      background-color: #007bff;
      border-radius: 5px;
      margin-bottom: 20px;
      margin-top: 20px;
      transition: background-color 0.3s ease;
    }
    
    .row.button a:hover {
      background-color: #0056b3;
    }
</style>
  {% endblock %}





{% block content %}
<div class="logo">
    <img class="img1" src="{% static 'images/logo.png' %}" alt="">
    <img class="img2" src="{% static 'images/cote.png' %}" alt="">
  </div>
<div class="container">
  <div class="wrapper">
    <div class="title">Password Reset</div>
        <div class="row">
            <p>If an account exists with the provided email, a password reset link will be sent. Please check your email.</p>
        </div>
        <div class="row button">
            <a href="{% url 'login_view' %}">Back to Login</a>
        </div>
  </div>
</div>
{% endblock %}


