{% extends "base.html" %}
{% load static %}

{% block extra_css %} <link rel="stylesheet" href="{% static 'css/login.css'%}"> {% endblock %}

{% block content %}

<div class="container">
  <div class="wrapper">
      <div class="title" style="display: flex; justify-content: space-around;">
        <img class="img1" src="{% static 'images/pit_logo.png' %}" height="20" alt="">

          <span class="title-login">IT Borrowing System</span>
          <img class="img2" src="{% static 'images/cote.png' %}" height="20" alt="">
        
      </div>
        <form method="POST">
          {% csrf_token %}
          
          <span class="text-muted">Forgot Password</span>
          <div class="row"><i class="fa-solid fa-envelope"></i>
            {{ form.email }}
            <span style="font-size: 15px; text-decoration:none; color: red; margin-top: 20px; left: -80px; position: relative;">{{ form.email.errors }}</span>
            
          </div>
          <div class="row button">
            <input type="submit" value="Continue">
          </div>
        </form>
    </div>
  </div>
{% endblock %}
