{% extends "base.html" %}
{% load static %}

{% block extra_css %} <link rel="stylesheet" href="{% static 'css/login.css'%}"> {% endblock %}

{% block content %}
<div class="logo">
  <img class="img1" src="{% static 'images/logo.png' %}" alt="">
  <img class="img2" src="{% static 'images/cote.png' %}" alt="">
</div>
<div class="container">
  <div class="wrapper">
      <div class="title"><span>Borrow System</span>
      </div>
        <form method="POST">
          {% csrf_token %}
          {{ form.email.errors }}
          <span class="text-muted">Forgot Password</span>
          <div class="row"><i class="fa-solid fa-envelope"></i>
            {{ form.email }}
          </div>
          <div class="row button">
            <input type="submit" value="Continue">
          </div>
        </form>
    </div>
  </div>
{% endblock %}
