{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/login.css'%}">
{% endblock %}

{% block content %}
<div class="logo">
    <img class="img1" src="{% static 'images/logo.png' %}" alt="">
    <img class="img2" src="{% static 'images/cote.png' %}" alt="">
  </div>
<div class="container">
  <div class="wrapper">
    <div class="title">Set New Password</div>
    <form method="POST">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <span class="text-center">{{ form.new_password2.errors }}</span>
        <div class="row">
            <i class="fa-solid fa-key"></i>
            {{ form.new_password1.errors }}
            <input type="password" name="new_password1" placeholder="Enter new password" class="form-control">
        </div>
        <div class="row">
            <i class="fa-solid fa-key"></i>
            <input type="password" name="new_password2" placeholder="Confirm new password" class="form-control">
        </div>
        <div class="row button">
          <input type="submit" value="Reset Password">
        </div>
    </form>
  </div>
</div>
{% endblock %}
